nav{
    height:20vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_link{
    color: white;
    margin: 1rem;
    text-decoration: none;
    font-size: 2rem;
}
.nav_link:hover{
    color: pink;
}

nav .active{
    color: red;
}