/* Center the form nicely */
/* body {
  background: linear-gradient(135deg, #a0c4ff, #bdb2ff);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} */

/* Main form container */
.form-container {
  background-color:#1D2A35;
 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
   text-align: center; 
  animation: fadeIn 0.5s ease-in;
  
}

h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 600;
}

.form-group {
  margin-bottom: 18px;
  text-align: left;
}
.name{
    font-size: 20px;
    width: 400px;
}
.genetic{
    font-size: 20px;
    width: 400px;
}

label {
  display: block;
  font-size: 30px;
  margin-bottom: 6px;
  color: white;
  font-weight: 500;
}

input,
textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: all 0.2s ease;
}

input:focus,
textarea:focus {
  border-color: #4a47a3;
  outline: none;
  box-shadow: 0 0 5px rgba(74, 71, 163, 0.3);
}

textarea {
  resize: vertical;
  min-height: 70px;
}

.submit-btn {
  background: linear-gradient(90deg, #4a47a3, #6c63ff);
  color: white;
  border: none;
  padding: 10px 15px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.submit-btn:hover {
  background: linear-gradient(90deg, #3a3790, #5851db);
  transform: scale(1.02);
}
button{
  background-color: #04AA6D;
  width: 100px;
  height: 50px;
  font-size: larger;
  cursor:pointer;
}

.error-text {
  color: red;
  font-size: 13px;
  margin-top: 3px;
}

.success-text {
  color: green;
  font-weight: 600;
  margin-top: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
